
.post-card {
    background-color: #ffffff !important;
    border-radius: 10px !important;
    margin-bottom: 20px;
    display: block;
    position: relative;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post-card-image {
    margin-bottom: 15px;
    position: relative;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08), 0 0 0 transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08), 0 0 0 transparent;
}

    .post-card-image img {
        /* height: 180px;*/
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

        .post-card-image img:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

.post-card .post-card-image .social {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 15px;
    right: 15px;
}

    .post-card .post-card-image .social li {
        transform: translateX(60px);
        transition: all 0.1s ease 0.1s;
    }

        .post-card .post-card-image .social li:nth-child(2) {
            transition: all 0.1s ease 0.1s;
        }

.post-card:hover .post-card-image .social li {
    transform: translateX(0);
}

.post-card .post-card-image .social li a {
    text-align: center;
    color: #707070;
    background: #fff;
    font-size: 16px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin: 0 0 7px;
    border-radius: 50px;
    display: block;
    transition: all 0.1s ease 0s;
}

    .post-card .post-card-image .social li a:hover {
        color: #6DA84A;
    }

.post-card-content {
    text-align: center;
    height: 110px;
}

    .post-card-content .categorie {
        margin-bottom: 20px;
    }

    .post-card-content h4 {
        font-weight: bolder;
        margin-bottom: 8px;
    }

    .post-card-content h5 a {
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

        .post-card-content h5 a:hover {
            color: #f67280;
        }

    .post-card-content p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

.post-card-info {
    margin-bottom: 10px;
}

    .post-card-info ul {
        display: block;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .post-card-info img {
        width: 40px !important;
        height: 40px;
        border-radius: 50%;
        margin-right: 7px;
    }

    .post-card-info li {
        margin-bottom: 0;
        font-size: 13px;
        color: #506172;
        text-transform: capitalize;
        font-weight: 500;
    }

        .post-card-info li a:hover {
            color: #f67280;
        }
